

body {
    background-color: rgb(104, 189, 161);
    padding: 5px 5px 5px 5px;
    

}


#page-top {
    display: flex;
    
}
   
#linkbuttons {
    border-width: 1px;
    width: 150px;
    height: 40px;
    margin-left: 1250px;
    margin-top: 20px;
}   

.button1 {
    border-width: 2px;
    border-radius: 6px;
    padding-bottom: 4px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(166, 164, 161);

}

.button2 {
    border-width: 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-left: 10px;
    background-color: blanchedalmond;


}

/*div for buttons*/
#buttons {
    display:flex;
    border-radius: 18px;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    box-shadow: 4px 5px 5px rgb(165, 154, 126);
    background-color: rgb(240, 147, 33);
    width: 220px;
    padding: 4px 2px 10px 12px;
    margin-bottom: 10px;
    
}





.buttondetail {
    border-width: 1px;
    background-color: rgb(62, 88, 114);
    color: rgb(151, 210, 155);
    margin-right: 10px;
    border-radius: 40px;
    height: 40px;
    width: 60px;
    margin-top: 8px;
    box-shadow: inset 20px 12px 2px rgb(63, 59, 59);
} 



.block-art {
    margin-top: 30px;
    
}



/*First row of blocks*/
#flex-one {
    display: flex;
    border-style: dotted;
    border-width: 1px;
    border-color:rgb(104, 189, 161);
    height: 40px;
    margin-bottom: 4px;
    
    
}



.one {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(208, 191, 114);
    height: 28px;
    width: 300px;
    border-radius: 18px;
    margin-left: 70px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 4px;
}

.two {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(161, 218, 141);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 15px;
    
}


.three {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(169, 146, 117);
    height: 34px;
    width: 100px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 36px;
}

.four {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(126, 229, 95);
    height: 20px;
    width: 210px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 10px;
}

.five {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(57, 150, 105);
    height: 20px;
    width: 18px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 14px;
    margin-bottom: 10px;
    
}


.six {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(144, 186, 222);
    height: 28px;
    width: 28px;
    border-radius: 14px;
    margin-right: 15px;
}

.seven {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(162, 162, 35);
    height: 18px;
    width: 6px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 5px;

}

.eight {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(96, 144, 172);
    height: 13px;
    width: 160px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 20px;

}





/*second row of blocks*/
#flex-two {
    display: flex;
    border-style: dotted;
    border-width: 1px;
    border-color:rgb(104, 189, 161);
    height: 30px;
    padding-top: 3px;

}

.ten {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(145, 104, 43);
    height: 36px;
    width: 180px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 3px;
}

.eleven {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(222, 150, 56);
    height: 13px;
    width: 510px;
    border-radius: 25px;
    margin-right: 15px;
    
}


.twelve {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(206, 91, 45);
    height: 20px;
    width: 70px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 8px;
}

.thirteen {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(46, 175, 162);
    height: 20px;
    width: 20px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 10px;
}

.fourteen {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(162, 160, 156);
    height: 20px;
    width: 130px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 3px;
    margin-right: 15px;
    
}


.fifteen {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(167, 207, 131);
    height: 45px;
    width: 180px;
    border-radius: 18px;
    margin-right: 15px;
}

.sixteen {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(159, 102, 148);
    height: 30px;
    width: 40px;
    border-radius: 18px;
    margin-right: 15px;

}

.seventeen {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(77, 221, 96);
    height: 14px;
    width: 280px;
    border-radius: 18px;
    margin-right: 15px;
    margin-top: 4px;

}

.eightteen {
    border-style: dotted;
    border-color:rgb(104, 189, 161);
    border-width: 1px; 
    background-color:rgb(104, 189, 161);
    height: 4px;
    width: 500px;
    border-radius: 18px;
    margin-right: 10px;

}



/*third row of blocks*/
#flex-three {
    display: flex;
    border-style: dotted;
    border-width: 1px;
    border-color:rgb(104, 189, 161);
    height: 60px;
    

}

.nineteen {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(177, 163, 222);
    height: 10px;
    width: 10px;
    border-radius: 20px;
    margin-left: 6px;
    margin-right: 110px;
    margin-top: 14px;
    margin-bottom: 2px;
}

.twenty {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(80, 185, 109);
    height: 20px;
    width: 320px;
    border-radius: 25px;
    margin-right: 15px;
    margin-left: -10px;
    
    
}


.twentyone {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(78, 119, 213);
    height: 20px;
    width: 70px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 3px;
}

.twentytwo {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(101, 136, 136);
    height: 20px;
    width: 20px;
    border-radius: 18px;
    margin-right: 15px;
    
}

.twentythree {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(218, 218, 79);
    height: 20px;
    width: 165px;
    border-radius: 25px;
    margin-right: 5px;
    margin-top: 10px;
    margin-right: 15px;
    
}


.twentyfour {
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    background-color: rgb(124, 234, 117);
    height: 28px;
    width: 28px;
    border-radius: 14px;
    margin-left: 2px;
    margin-top: 10px;
}

.twentyfive {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(128, 128, 191);
    height: 54px;
    width: 54px;
    border-radius: 27px;
    margin-right: 15px;
    margin-left: 34px;
    margin-top: 2px;

}

.twentysix {
    border-style: dotted;
    border-color: black;
    border-width: 1px; 
    background-color: rgb(179, 183, 184);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 22px;
    

}

#name-area {
    
    height: 149px;
}


.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 160px;
    text-shadow: 8px 15px 15px gray;
    text-align: center;
    height: 110px;
}






.lower-art {
    border-width: 2px;
    border-style: dotted;
    border-color:rgb(120, 217, 185); 
    height: 400px;
}

#lower-blockart-1 {
    border-style: dotted;
    display: flex;
    height: 30px;
    border-color: rgb(120, 217, 185);
}


.thirty {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 170px;
    height: 2px;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 40px;
    margin-top: 15px;
    background-color:rgb(245, 144, 188);


}

.thirtyone {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 6px;
    height: 6px;
    border-radius: 20px;
    margin-left: 328px;
    margin-right: 15px;
    background-color: rgb(218, 211, 202);


}

.thirtytwo {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin-left: 134px;
    margin-top: 22px;
    background-color: rgb(238, 214, 182);


}

.thirtythree {

}


#lower-blockart-2 {
    border-style: dotted;
    display: flex;
    height: 40px;
    border-color: rgb(120, 217, 185);
}

.thirtyeight {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 4px;
    height: 4px;
    border-radius: 20px;
    background-color: rgb(238, 214, 182);
    margin-left: 760px;


}


.thirtynine {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 17px;
    height: 1px;
    border-radius: 20px;
    background-color: rgb(238, 214, 182);

}


.forty {
    border-style: solid;
    border-color: rgb(13, 13, 13);
    width: 340px;
    height: 2px;
    border-radius: 20px;
    background-color: rgb(225, 23, 110);
    margin-left: 240px;
    margin-top: 27px;

}


#lower-blockart-3 {
    border-style: dotted;
    display: flex;
    height: 60px;
    border-color: rgb(120, 217, 185);
}




  